html, body {
  height: 100%;
  text-align: center;
  background-color: #41ADA5;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  color: #fff;
}

h1 {
  font-size: 2.5em;
  margin: 1em 0 .5em;
}

p {
  max-width: 80%;
  margin: 1.5em auto;
  line-height: 1.5em;
  padding-bottom: 2em;
}

.list {
  background-color: #fff;
  width: 350px;
  display: inline-block;
}

.list h3 {
  color: #fff;
  background-color: #6CC9C2;
  margin: 1em 0 0 0;
  padding: 0.8em 0;
  font-weight: 200;
}

ul {
  margin: 10% 0;
}

ul li {
  list-style-type: none;
  text-align: left;
  padding: 5% 0%;
}

input[type='checkbox'] + .pure-toggle {
  display: inline-block;
  color: #c1c2c3;
  transition: all 0.5s ease-out;
  cursor: pointer;
  font-weight: 200;
}
input[type='checkbox'] + .pure-toggle:hover {
  color: #e42355;
}
input[type='checkbox'] + .pure-toggle i {
  width: 30px;
}
input[type='checkbox'] + .pure-toggle span {
  margin-left: 10px;
  vertical-align: super;
}

input[type='checkbox']:checked + .pure-toggle {
  color: #249991;
}
input[type='checkbox']:checked + .pure-toggle i {
  transition: all 0.5s ease-out;
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
input[type='checkbox']:checked + .pure-toggle i:before {
  content: "\f00c";
}
